---
// component imports
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experiences from "@/components/sections/Experiences/index.astro";
import OpenSource from "@/components/sections/OpenSource.astro";
import Projects from "@/components/sections/Projects.astro";
import Contact from "@/components/sections/Contact.astro";

// data imports
import { HeroContent } from "@/data/metadata";
import { about, AboutContent } from "@/data/about";
import { experiences } from "@/data/experiences";
import { projects } from "@/data/projects";
import { repositories } from "@/data/open-source";

// layout imports
import Layout from "@/layouts/Layout.astro";
---
<Layout title={"Sinésio Neto - README"}>
  <main slot="main">
    <!-- HERO -->
    <Hero>
      <HeroContent slot="hero-content" />
    </Hero>

    <!-- ABOUT -->
    <About aboutStack={about.stack} aboutCards={about.type}>
      <AboutContent />
    </About>

    <!-- EXPERIENCES -->
    <Experiences experiences={experiences}/>

    <!-- PROJECTS -->
    <Projects projects={projects}/>

    <!-- OPEN-SOURCE PROJECTS -->
    <OpenSource repositories={repositories}/>

    <!-- CONTACT -->
    <Contact />
  </main>
</Layout>
