---
// layout imports
import Layout from "@/layouts/Layout.astro";

// component imports
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experiences from "@/components/sections/Experiences/index.astro";
import Projects from "@/components/sections/Projects.astro";
import OpenSource from "@/components/sections/OpenSource.astro";
import Contact from "@/components/sections/Contact.astro";

// data imports
import { getCurrentLanguage } from "@/i18n/utils";
import { getHeroContent } from "@/data/metadata";
import { getAboutEntry, getAboutContent } from "@/data/about";
import { getExperiences } from "@/data/experiences";
import { getProjects } from "@/data/projects";
import { getRepositories } from "@/data/open-source";

// data objects
const lang = getCurrentLanguage(Astro);
const about = await getAboutEntry(lang);
const experiences = await getExperiences(lang);
const projects = await getProjects(lang);
const repositories = await getRepositories();

// data content
const HeroContent = await getHeroContent(lang);
const AboutContent = await getAboutContent(lang);
---
<Layout title={"Sinésio Neto - README"}>
  <main slot="main">
    <!-- HERO -->
    <Hero>
      <HeroContent slot="hero-content" />
    </Hero>

    <!-- ABOUT -->
    <About aboutStack={about.stack} aboutCards={about.type}>
      <AboutContent />
    </About>

    <!-- EXPERIENCES -->
    <Experiences experiences={experiences}/>

    <!-- PROJECTS -->
    <Projects projects={projects}/>

    <!-- OPEN-SOURCE PROJECTS -->
    <OpenSource repositories={repositories}/>

    <!-- CONTACT -->
    <Contact />
  </main>
</Layout>
