---
import { Image } from "astro:assets";

interface Props {
  src: string;
  href: string;
  width: number;
  height: number;
  class?: string;
}

const { src, href, width, height, class: classes, ...rest } = Astro.props as Props
---

<a href={href} class={classes} aria-label="Home">
  <Image src={src} width={width} height={height} alt="snio.dev logo" {...rest} />
</a>
