---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Card, Client } from "@/data/about";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
  aboutStack: string[];
  aboutCards: Card[];
}

const { aboutStack, aboutCards } = Astro.props as Props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="about" class="autoShow">
  <div class="about-intro">
    <h2 class="section-header">{t("about.title")}</h2>
      <slot />
      <ul>
        {aboutStack && (aboutStack.map((item: string) => (
          <li class="autoShow">{item}</li>
        )))}
      </ul>
  </div>

  <div class="about-cards">
    {aboutCards && (aboutCards.map((card: Card) => (
    <div class="about-card-container autoShow">
      <div class="about-card-container_title">
        <h3>{card.title} <Icon name={card.iconName} /></h3>
        <p>{card.tldr}</p>
      </div>
      <div id="about-card-clients" class="about-card-container-clients">
        <button>{t("about.card.clients")}</button>
        <div id="about-card-client">
        {card?.clients && card.clients.map((client: Client) => (
          <div class="about-card-client_content">
            <a hre={client.website}>
              <Image
                src={client.logo}
                height={45}
                width={45}
                alt={`${client.name} logo`}
              />
              <!-- <p>{client.name}</p> -->
            </a>
          </div>
        ))}
        </div>
      </div>
    </div>
    )))}
  </div>
</section>
