---
import { Icon } from "astro-icon/components";
import type { Repository } from "@/data/open-source";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
  repositories: Repository[];
}

const { repositories } = Astro.props as Props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="open-source" class="autoShow">
  <h3>
    {t("opensource.title")}
    <a class="link" href="https://github.com/sineto" target="_blank" rel="noreferrer">
      {t("opensource.profileLink")}
    </a>
  </h3>
  <ul class="open-source-repos">
    {repositories.slice(0,6).map((repo: Repository) => {
      return (
        <li>
          <h4>
            <a href={repo.url} target="_blank" rel="noreferrer">
              {repo.name} <Icon class="repo-icon-link" name="mdi:link" />
            </a>
          </h4>
          <p>{repo.description}</p>
          <div>
            <span>
              <Icon name="mdi:circle" />
              {repo.language.name}
            </span>
            <span><Icon name="mdi:star" />{repo.starsCount}</span>
            <span><Icon name="mdi:source-fork" />{repo.forksCount}</span>
          </div>
        </li>
      )
    })}
  </ul>
  <a class="button-md" href="https://github.com/sineto" target="_blank" rel="noreferrer"> {t("opensource.button")} </a>
</section>
